pymupdf
python-docx
pandas
numpy
scikit-learn
rapidfuzz
python-dotenv
boto3
pydantic
pydantic-settings
fastapi
uvicorn
python-multipart
sentence-transformers
torch
sqlalchemy
psycopg2-binary
spacy
groq
httpx
beautifulsoup4
